.card-img {
    width: 100%;
    object-fit: cover;
    height: 250px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 480px;
    perspective: 1000px;
    border:none;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border:none;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background: rgb(221,208,208);
    background: linear-gradient(90deg, rgba(221,208,208,1) 20%, rgba(172,163,163,1) 49%, rgba(244,234,234,1) 83%);
    color: $font-color;
    font-family: 'Lobster', cursive;
    font-size: 1.1rem;
    border : 1px solid $font-color;
    border-radius: 8px;
  }
  
  .flip-card-back {

    background: rgb(176,168,168);
background: linear-gradient(90deg, rgba(176,168,168,1) 9%, rgba(156,151,151,1) 25%, rgba(144,139,139,1) 76%, rgba(139,133,133,1) 100%);
    color: $font-color;
    transform: rotateY(180deg);
    font-family: 'Lobster', cursive;
    font-size: 1.0rem;
    text-transform: uppercase;
    border : 1px solid $font-color;
    border-radius: 8px;
  }

  .fontawesome{
    color: $font-color;
    transition: 1s;
    left: 50%;
    cursor: pointer;
    &:hover{
      color: rgb(0, 0, 0);
      transform: scale(1.15);
      transition: 1s;
    }
  }
  .Calendar {
    border-right: 1px solid $font-color;
    text-align: center;
    padding: 20px;
    margin: 0;
    &:hover {
      border-right: none;
      transition : 1s ;
      border-right: 1px solid $font-color;
    }
  }
  .Calendar:last-child{
    border-right: none;
    &:hover {
      transition : 1s ;
    }
  }
  .Calendar h4 {
    color: $red-color;
    
  }
