.etisk {
    object-fit: cover;
    width: 100%;
}
.balkon {
    position: relative;
    width: 300px;
    left: 0;
    border-radius: 35px;
}
.buton {
    position: relative;
    transform: translate(50%,-50%);
    left: 30%;
    z-index: 1;
}
.balkon2 {
        position: relative;
        width: 350px;
        left: 25%;
        height: 410px;
        border-radius: 35px;

}