$main-color: rgb(82, 79, 79);
$main-color: rgb(82, 79, 79);
$border-color : black ;
$font-color : rgb(134,25,24);
$red-color : rgb(133, 14, 14);
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");


